.indicators-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 260px;
  width: 100%;
  min-height: 30px;
  height: 70%;
  z-index: 3;
  // background-color: blue;
  grid-column: 1/4;
  align-self: start;

  .indicator {
    width: 15%;
    height: 82%;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: inset 5px 5px 10px 0px #c4cbce, inset -5px -5px 10px 0px #c4cbce;
    cursor: pointer;
    transition: background-color 1s;
  }
}